:root {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 58px;
    text-align: center;
}

.question {
    text-align: center;
}

.container {
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    margin-top: 100px;
}
.answers {
    display:flex;
    flex-direction: column;
}

button {
    border-radius: 10px;
    background-color: rgb(114, 79, 148);
    color: white;
    margin:10px;
    width: 350px;
}

.result {
    opacity: 0;
    font-style:italic;
    color: gray;
    width: 300px;
    padding: 5px;
    border-top: 2px solid gray;
}

.result.show {
    animation: anime 1s 1;
  }
  @keyframes anime {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }